{% extends "core/base.html" %}
{% block title %}Historia{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/portfolio/css/historia.css">
{% endblock head %}
{% block background %}{% load static %}{% static 'core/img/Historia1.png' %}{% endblock %}
{% block headers %}

<h1>Historia</h1>
<span class="subheading">Imagenes</span>
{% endblock headers %}
{% comment %} contenido {% endcomment %}
{% block content %}
	{% for project  in projects %}
<div>
<!-- Proyecto -->		
<section class="cards">
	<article class="tarjeta">              
        <figure>
            <img class="imgprin" src="{{project.image.url}}"  alt="Fundacion del Club">
        </figure>   
    <div class="tarjeta-content">
    <h2>Cuerpo Técnico</h2>
    <p>El 04/09/2023 el club, paso a manos del director técnico Daniel Cabrero y su equipo de trabajo para afrontar lo que sería el Torneo Regional 
        el cual se estaría jugando con el objetivo de ascender al federal B y volver de a poco a donde este equipo historico pertenece. La liga Nacional.
    </p>
</div>
	</article>
	{% endfor %}
</section>
<br><br><br><br><br><br>
{% endblock  %}
