{% extends "core/base.html" %}
{% block title %}Contacto{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Consultoria</span>
{% endblock headers %}
{% comment %} contenido {% endcomment %}
{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-lg-8 col-md-10 mx-auto">
		<p>Para comunicarte con cualquiera de los integrantes lo podes hacer a través de los siguientes contactos</p>
		<br>
		<p><b>Teléfono:</b> +54 39 4720212</p>
		<p><b>email:</b> enzoctess@gmail.com</p>
		<p><b>email:</b> ojedavictoria89@gmail.com</p>
		<p><b>email:</b> ceciliasenilliani@gmail.com</p>
		<p><b>email:</b> santiagoavedano09@gmail.com</p>
	  </div>
	</div>
  </div>
{% comment %} <h2>Contacto</h2><p>email: enzoctess@gmail.com - 3794720212</p> {% endcomment %}
{% endblock  %}
