{% extends "core/base.html" %}
{% block title %}Acerca de{% endblock %}
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Acerca de</h1>
	<span class="subheading">Integrantes</span>
{% endblock headers %}
{% block content %}
{% for integrante  in integrantes %}
<div class="container">
	<div class="row">
<div class="col-lg-3 col-md-4 offset-lg-1">
	{{indu.image.url}}
	<img class="img-fluid avatar" src="{{integrante.image.url}}" alt="">
	{% comment %} <img class="img-fluid avatar" src="{% static 'core/img/Perfil1.png' %}" alt=""> {% endcomment %}
</div>
<div class="col-lg-7 col-md-8">
	<h2 class="section-heading">{{integrante.apellido}} {{integrante.nombre}}</h2>   
	<p>{{integrante.descripcion}}</p>
</div>
</div>  
{% endfor %}
{% comment %} <h2>Acerca de</h2><p>Soy Enzo Ramirez</p> {% endcomment %}
{% endblock  %}

